{% extends 'base.html.twig' %}
{% block body %}
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Пользователь</th>
            <th>Фильм</th>
        </tr>
        </thead>
        <tbody>
        {% for favourite in favourites %}
            <tr>
                <td>{{ favourite.getId() }}</td>
                <td>{{ favourite.getUserUsername().getUsername() }}</td>
                <td>{{ favourite.getFilmId().getTitle() }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Записи не найдены!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
