{% extends 'base.html.twig' %}

{% block title %}Фильмотека{% endblock %}

{% block body %}
    <a href="/filmoteka/film">Фильмы</a>
    <a href="/filmoteka/category">Категории</a>
    <a href="/filmoteka/director">Режиссеры</a>
    <a href="/filmoteka/favourite">Избранное</a>
{% endblock %}
