
<a href="/">Схема</a>
{% if app.request.get('_route') != 'app_login' and app.request.get('_route') != 'app_register' %}
    <a href="/filmoteka">Фильмотека</a>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="/logout">Выйти</a><br>
    {% else %}
        <a href="/login">Войти</a>
        <a href="/register">Регистрация</a><br>
    {% endif %}
{% endif %}

{% block body %}{% endblock %}

